/*Media Query for XS screen*/
@media (max-width: 767px) {
    .display-tasks{
        width: 100%;
        margin: 15px 0;
    }
    .active-edit{
        margin: 10px 0;
    }
    form{
        width: 100%;
    }
    .edit-task input{
        width: 100%;
    }
    .display-tasks .content{
        display: inline-block;
    }
    .add-task-form button{
        position: relative;
        width: 100%;
        top: 0;
    }
    .inactive-control{
        visibility: hidden;
    }
    .menu{
        display: inline;
    }
    .edit-task button{
        width: 100%;
    }
    .active-color{
        position: absolute;
        right: 147px;
        top: 0;
        overflow: auto;
        width: 42%;
    }
    .color::after{
        display: none;
    }
}


/*Media Query for S screen*/
@media (min-width: 768px) and (max-width: 991px) {


}